<div class="content home-content">
  <section class="slider-wrapper">
    <%= render partial: 'refinery/slider_images/slider_images/slides', locals: { slides: @slides } %>
  </section>
  <section class="news">
    <div class="wrapper">
      <ul>
        <!-- <% @events.each do |event| %>
          <%= render partial: 'refinery/events/events/event', locals: { event: event } %>
        <% end %> -->
      </ul>
    </div>
  </section>
</div>
