<meta charset='<%= Rails.application.config.encoding %>' />
<title><%= browser_title(yield(:title)) %></title>
<%= raw %(<meta name="description" content="#{@meta.meta_description}" />) if @meta.meta_description.present? -%>
<%= raw %(<link rel="canonical" content="#{@canonical}" />) if @canonical.present? -%>
<%= csrf_meta_tags if Refinery::Core.authenticity_token_on_frontend -%>
<%= yield :meta %>

<%= stylesheet_link_tag "application" %>
<%= yield :stylesheets %>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>

<%= render '/refinery/google_analytics' %>

<%= javascript_include_tag 'modernizr-min' %>
