<header class="main-header">
  <div class="main-header-top">
    <div class="wrapper">
      <%= link_to refinery.root_path do %>
        <div class="logotype"></div>
      <% end %>
      <div class="main-header-info">
        <div class="phone">8 (495) 972 86 41</div>
        <div class="mail"><a href="mailto:info@trfinance.ru">info@trfinance.ru</a></div>
      </div>
    </div>
  </div>
  <%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
</header>
<div class="clearfix"></div>
