@font-face {
  font-family: 'WebSymbolsLiga';
  src: url('/fonts/websymbolsligaregular.eot');
  src: url('/fonts/websymbolsligaregular.eot?#iefix') format('embedded-opentype'), url('/fonts/websymbolsligaregular.woff') format('woff'), url('/fonts/websymbolsligaregular.ttf') format('truetype'), url('/fonts/websymbolsligaregular.svg#websymbolsligaregular') format('svg');
  font-weight: normal;
  font-style: normal; }

html {
  height: 100%;
  max-width: 100%; }

body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  border: 0;
  padding: 0;
  min-width: 480px;
  color: #333333;
  background: white; }

.container {
  min-height: 100%;
  position: relative;
  padding: 0 0 50px 0;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden; }

.page-content {
  padding: 0 0 30px 0; }

.page-content .news__item__content {
  color: black; }

.page-content .news__item__content a {
  color: black; }

.page-content .news__item__date {
  color: black;
  background: url(/images/hecsa-black@2x.png) no-repeat;
  background-size: cover;
  width: 67px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0; }

a {
  text-decoration: none;
  color: #333333;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

p {
  margin-top: 0; }

.wrapper {
  width: 960px;
  height: 100%;
  padding: 0 20px;
  margin: 0 auto; }

.cleanfix {
  clear: both; }

.main-header {
  position: relative;
  width: 100%;
  z-index: 99999;
  padding: 0 !important; }

.main-header-top {
  width: 100%;
  height: 60px;
  padding: 10px 0;
  background: white; }

.main-header-info {
  float: right;
  width: 200px;
  height: 53px;
  font-size: 1rem;
  font-weight: 600;
  color: #333333;
  text-align: right;
  margin: 7px 0 0 0; }

.logotype {
  height: 30px;
  width: 250px;
  background: url(/images/logotype.svg) no-repeat;
  background-size: cover;
  float: left;
  margin: 15px 0 0 0; }

.main-nav {
  float: left;
  position: relative;
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  background: #1587bd;
  max-width: auto;
  min-width: auto; }

.main-nav ul {
  position: relative;
  left: 50%;
  text-align: center;
  clear: left;
  float: left; }

.main-nav ul li {
  position: relative;
  float: left;
  right: 50%;
  cursor: pointer; }

.main-nav ul li:hover > a {
  background: white;
  color: black;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.main-nav ul li a {
  height: 50px;
  display: block;
  text-align: center;
  line-height: 50px;
  padding: 0 10px;
  text-transform: uppercase;
  color: #ffffff; }

.main-nav > .wrapper > ul > li > a:hover {
  background: white;
  color: #333333; }

.main-nav ul li .active {
  color: #fcd52d; }

.main-nav ul li .active:hover {
  color: #333333;
  text-shadow: none; }

.main-nav ul li ul {
  position: absolute;
  top: 50px;
  display: none;
  background: white;
  left: 0; }

.main-nav ul li ul li {
  right: 0;
  width: 100%; }

.main-nav ul li ul a {
  color: #1587bd;
  text-decoration: none;
  height: 40px;
  line-height: 40px;
  display: block;
  text-align: left; }

.main-nav > .wrapper > ul > li:hover > ul {
  display: block; }

.phone:before {
  content: '|';
  font: 1.3rem 'WebSymbolsLiga';
  color: #1587bd;
  margin: 0 10px 0 0;
  position: absolute;
  margin: 0 0 0 -30px; }

.mail a {
  border-bottom: 1px solid #333333; }

.mail a:hover {
  border: none; }

.mail:before {
  content: '8';
  font: 1.3rem 'WebSymbolsLiga';
  color: #1587bd;
  margin: 0 10px 0 0;
  position: absolute;
  margin: 0 0 0 -30px; }

.slider-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative; }

#homeslider {
  height: 650px; }

.slider-wrapper .slide {
  margin: 0 auto;
  position: relative; }

.slider-wrapper .slide img {
  width: 100%;
  height: auto; }

.slider-wrapper .slide p {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  margin-top: -100px;
  max-width: 600px;
  padding: 10px 20px 10px 0;
  position: absolute;
  text-shadow: 1px 1px 10px black;
  left: 5%;
  top: 24%;
  z-index: 99999; }

.slider-wrapper .slide p span {
  font-size: 1rem;
  font-style: italic;
  display: block;
  margin: 10px 0 0 0; }

.slider-wrapper .slide .slider-description {
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 2px 2px 10px #0162a4;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -100px;
  line-height: 1;
  color: white;
  padding: 10px 20px 10px 0;
  max-width: 600px;
  z-index: 99999; }

footer {
  color: #ccc;
  height: 40px;
  margin-top: -50px;
  padding: 10px 0 0 0;
  text-align: center;
  z-index: 99999;
  position: relative;
  background: #333333; }

.next, .prev {
  position: absolute;
  top: 0;
  top: 220px;
  width: 40px;
  height: 40px;
  background-position: 0 0;
  background-repeat: no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  transition: none; }

.next {
  right: -100px;
  background: url('/images/arrow.png') 40px -40px; }

.prev {
  background: url('/images/arrow.png');
  left: -100px; }

.news {
  background: #1587bd;
  overflow: hidden;
  position: absolute;
  bottom: 50px;
  width: 100%; }

.news__item {
  width: 440px;
  padding: 20px;
  float: left; }

.news__item a {
  border-bottom: 1px solid #333333; }

.news__item a:hover {
  border: none; }

.news__item__date {
  width: 61px;
  height: 70px;
  font-size: 2rem;
  float: left;
  padding: 8px 0 0 0;
  text-align: center;
  margin: 5px 0 0 0;
  color: white;
  background: url(/images/hecsa@2x.png) no-repeat;
  background-size: contain; }

.news__item__date span {
  font-size: 0.8rem;
  display: block;
  text-align: center;
  margin: -10px 0 0 0; }

.news__item__content {
  float: right;
  width: 340px;
  color: white; }

.news__item__content h3 {
  margin: 0; }

.news__item__content h3 a {
  color: white;
  border: none; }

.page-title {
  font-size: 1.5rem; }

.page-article {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2; }

.page-article-title {
  margin-top: 0;
  font-size: 1.2rem; }

.page-article h3 {
  font-size: 1rem; }

.page-article img {
  max-width: 480px;
  max-height: 480px;
  height: auto;
  padding: 0 10px 10px 0; }

.page-article > p {
  display: inline-block; }

a.active-project {
  font-size: 1.2em;
  color: black !important;
  border: none !important;
  font-weight: bold; }

.projects-article {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1; }

.projects-article img {
  max-width: 670px;
  height: auto; }

.sidebar {
  width: 250px;
  background: white;
  float: left;
  margin: 0 40px 0 0; }

.sidebar ul {
  padding: 0 0 20px 0; }

.sidebar ul li {
  padding: 10px 20px; }

.sidebar ul li a {
  color: #1587bd;
  border-bottom: 1px solid #1587bd; }

.sidebar ul li a:hover {
  color: black;
  border: none; }

.new_date {
  margin-right: 20px; }

.rsArrow {
  background: url('/images/arrow.png') no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 40%; }

.rsArrowLeft {
  background-position: 0 0;
  left: 27%; }

.rsArrowRight {
  background-position: 0 -40px;
  left: 70%; }

.about {
  background: url('/images/banner-bg.jpg') no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%; }

#intro {
  padding-bottom: 10px; }

#slider {
  width: 960px;
  margin: 0 auto;
  position: relative; }

.scroll {
  height: auto;
  width: 960px;
  overflow: auto;
  overflow-x: hidden;
  position: relative;
  clear: left;
  background: #FFFFFF url(images/content_pane-gradient.gif) repeat-x scroll left bottom; }

.scrollContainer div.panel {
  padding: 20px;
  height: auto;
  width: 920px;
  background: #f6f6f6; }

.scrollContainer div.panel img {
  float: left;
  margin: 0 20px 10px 0; }

ul.navigation {
  list-style: none;
  margin: 40px 0 0 0;
  padding: 0;
  padding-bottom: 9px; }

ul.navigation li {
  display: inline; }

ul.navigation a {
  padding: 20px;
  color: #000;
  text-decoration: none; }

ul.navigation a:hover {
  background-color: #f6f6f6; }

ul.navigation a.selected {
  font-weight: bold;
  background: #f6f6f6; }

ul.navigation a:focus {
  outline: none; }

.scrollButtons.right {
  right: -20px; }

.hide {
  display: none; }

.scrollButtons {
  display: none; }

.projects {
  background: url('/images/banner-bg.jpg') no-repeat scroll 0 0/cover rgba(0, 0, 0, 0);
  height: 250px;
  width: 100%; }

.login p {
  position: relative; }

input[type="text"], input[type="password"] {
  outline: none;
  border: 2px #1587bd solid;
  border-radius: 5px;
  padding: 5px 10px;
  color: #1587bd;
  font-size: 1.3em;
  font-weight: 600;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

input[type="text"]:focus, input[type="password"]:focus {
  background: #1587bd;
  color: white; }

input[type="submit"] {
  display: block;
  background: #1587bd;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white; }

input[type="submit"]:hover {
  background: #333;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

input:focus::-webkit-input-placeholder {
  color: white; }

input:focus::-moz-placeholder {
  color: white; }

.error {
  width: 340px;
  color: white;
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: red;
  position: relative;
  display: block;
  margin: 0 0 20px 0;
  position: absolute;
  top: -2px;
  left: 270px;
  display: none; }

.error span {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 7px solid red;
  border-bottom: 5px solid transparent;
  position: absolute;
  left: -7px;
  top: 15px; }

.requisites + .wrapper .page-article:not(.two-columns) {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1; }

.requisites + .wrapper .page-article .detail {
  border-bottom: 1px solid black;
  margin-bottom: 10px; }

.requisites + .wrapper .page-article .detail:last-child {
  border-bottom: none; }

.requisites + .wrapper .page-article .detail p:first-child {
  float: left; }

.requisites + .wrapper .page-article .detail p:nth-child(2) {
  float: right; }

.requisites-article div p {
  float: left; }
.requisites-article div p:first-of-type {
  width: 40%; }
.requisites-article div p:last-of-type {
  width: 60%; }

.requisites {
  background: url('/images/banner-bg.jpg') no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%; }

.contacts {
  background: url('/images/banner-bg.jpg') no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%; }

.contacts + .wrapper .page-article {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1; }

.contacts + .wrapper .page-article div {
  margin-bottom: 10px; }

.page-content a {
  color: #1587bd; }

.home-content {
  background: #1587bd; }
