<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <%# site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
  </head>
  <body>
    <%# site_bar -%>
    <div class="container">
      <%= render "/refinery/header" -%>
      <%= yield %>
    </div>
    <footer>
      <%= render "/refinery/footer" -%>
    </footer>
    <%= render "/refinery/javascripts" %>
  </body>
</html>
